<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header class="header">
        <nav>
            <div>
                <img class="logo" src="../components/umbrella.png" alt="Logo" height="40">
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li>
                    <a href="#">Tenses</a>
                    <ul>
                        <li><a href="/past">Past</a>
                            <ul>
                                <li><a href="/sp">Simple Past</a></li>
                            </ul>
                        </li>
                        <li><a href="/present">Present</a>
                            <ul>
                                <li><a href="/spr">Simple Present</a></li>
                                <li><a href="/pc">Present Continuous</a></li>
                                <li><a href="/pp">Present Perfect</a></li>
                            </ul>
                        </li>
                        <li><a href="/future">Future</a>
                            <ul>
                                <li><a href="/sf">Simple Future</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
</body>

</html>