<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>English Tenses</title>
    <link rel="stylesheet" href="style.css">
</head>

<%- include('./components/header.ejs') -%>

<body>
    <h1 class="index-title">English tenses with the Umbrella Academy</h1>
    <h2 class="index-subtitle">In this page i'm teaching to you about English tenses using Umbrella Academy's comic</h2>

<h1 class="index-title">Tenses</h1>

<div class="tenses-container">

    <div class="card">
        <img src="./components/past.jpg">
        <h4>Past</h4>
        <p>Past: Simple Past</p>
        <a href="/past">Go to page</a>
    </div>

<div class="card">
    <img src="./components/present.jpg">
    <h4>Present</h4>
    <p>Present: Simple Present, Present Continiuos and Present Perfect</p>
    <a href="/present">Go to page</a>
</div>

<div class="card">
    <img src="./components/future.jpg">
    <h4>Past</h4>
    <p>Future: Simple Future</p>
    <a href="/future">Go to page</a>
</div>
</div>

</body>
</html>