<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Present</title>
    <link rel="stylesheet" href="../style.css">
</head>
<%- include('../components/header.ejs') -%>
<body>
    <h1 class="index-title">Present Perfect</h1>
    <h3 class="index-definition">It's an action that started in the past but it continues in the present</h3>
   
    <table class="index-table">
        <h3 class="index-structure">Structure:</h3>
            <tr>
            <th>Affirmative</th>
            </tr>
            <td>SUBJECT+TO HAVE+VERB IN PAST</td>
            <tr>
                <th></th>
            </tr>
        </table>

        <table class="index-table">
            <tr>
              <th>Negative</th>
            </tr>
            <td>SUBJECT+TO HAVE+ NOT + VERB IN PAST</td>
            <tr>
                <th></th>
            </tr>

        </table>

        
        <h3 class="index-definition">Present Perfect explaing with Umbrella Academy's comic:</h3>
        <br>
        <img class="comic" alt="page 07" src="./components/presentperfect/07.jpg">
        <img class="comic" alt="page 09" src="./components/presentperfect/09.jpg">
        <img class="comic" alt="page 12" src="./components/presentperfect/12.jpg">

</body>
</html>