<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Present</title>
</head>
<%- include('../components/header.ejs') -%>
<body>
    <h1 class="index-title">Present</h1>
    
    <div class="tenses-container">

        <div class="card">
            <img src="../components/simplepresent.jpg">
            <h4>Simple Present</h4>
            <p>Simple Present: Definition, structure and examples</p>
            <a href="/spr">Go to page</a>
        </div>

        <div class="tenses-container">

            <div class="card">
                <img src="../components/simplepresent.jpg">
                <h4>Present Continuous</h4>
                <p>Present Continuous: Definition, structure and examples</p>
                <a href="/pc">Go to page</a>
            </div>
    <div>
</body>
</html>