<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Present Continuous</title>
    <link rel="stylesheet" href="../style.css">
</head>
<%- include('../components/header.ejs') -%>
<body>
    <h1 class="index-title">Present Continuous</h1>
        
        <table class="index-table">
            <h3 class="index-structure">Structure:</h3>
                <tr>
                <th>Affirmative</th>
                </tr>
                <td>SUBJECT+TO BE+VERB+ING</td>
                <tr>
                    <th></th>
                </tr>
            </table>
    
            <table class="index-table">
                <tr>
                  <th>Negative</th>
                </tr>
                <td>SUBJECT+TO BE+NOT+VERB+ING</td>
                <tr>
                    <th></th>
                </tr>
    
            </table>

        
        <h3 class="index-definition">Present Continuous explaing with Umbrella Academy's comic:</h3>
        <br>
        <img class="comic" alt="page 11" src="./components/presencontinuous/11.jpg">
        <img class="comic" alt="page 13" src="./components/presencontinuous/13.jpg">
        <img class="comic" alt="page 23" src="./components/presencontinuous/23.jpg">

</body>
</html>