<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Present</title>
    <link rel="stylesheet" href="../style.css">
</head>
<%- include('../components/header.ejs') -%>
<body>
    <h1 class="index-title">Simple Present</h1>
    <h3 class="index-definition">It's an action that a person does habitually</h3>
   
    <table>
        <h3 class="index-structure">Structure:</h3>
            <tr>
                <th>Tenses</th><th>Affirmative</th><th>Negative</th>
            </tr>
            <td>Simple Present</td><td>SUBJECT+VERB</td><td>SUBJECT+DOESN'T+VERB</td>
            <tr>
                <th></th>
            </tr>
        </table>

        
        <h3 class="index-definition">Simple Present explaing with Umbrella Academy's comic:</h3>
        <br>
        <img class="comic" src="./components/simplepresent/13.jpg">
        <img class="comic" src="./components/simplepresent/15.png">
        <img class="comic" src="./components/simplepresent/18.jpg">

</body>
</html>