<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Past</title>
</head>
<%- include('../components/header.ejs') -%>
<body>

    <h1 class="index-title">Past</h1>

    <div class="tenses-container">

        <div class="card">
            <img src="../components/simplepast.jpg">
            <h4>Simple Past</h4>
            <p>Simple Past: Definition, structure and examples</p>
            <a href="/sp">Go to page</a>
        </div>
    <div>
</body>
</html>