<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Simple Past</title>
</head>
    <%- include('../components/header.ejs') -%>
<body>
    <h1 class="index-title">Simple Past</h1>
    <h3 class="index-definition">Definition: It's an action that started and finished in the past</h3>
    <table>
    <h3 class="index-structure">Structure:</h3>
        <tr>
            <th>Tenses</th><th>Affirmative</th><th>Negative</th>
        </tr>
        <td>Simple Past</td><td>SUBJECT+VERB+ED+COMPLEMENT</td><td>SUBJECT + AUXILIARY VERB + VERB + COMPLEMENT</td>
        <tr>
            <th></th>
        </tr>
    </table>

    <h3 class="index-definition">Simple Past explaing with Umbrella Academy's comic:</h3>
    <img class="comic" src="./components/simplepast/03.jpg">
    <img class="comic" src="./components/simplepast/04.jpg">
    <img class="comic" src="./components/simplepast/07.jpg">
</body>
</html>