<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Simple Past</title>
</head>
    <%- include('../components/header.ejs') -%>
<body>
    <h1 class="index-title">Simple Future</h1>
    <h3 class="index-definition">Definition: It's an action that will probably happen in the future</h3>

    <table class="index-table">
        <h3 class="index-structure">Structure:</h3>
            <tr>
            <th>Affirmative</th>
            </tr>
            <td>SUBJECT+WILL+INFINITIVE WITHOUT TO</td>
            <tr>
                <th></th>
            </tr>
        </table>

        <table class="index-table">
            <tr>
              <th>Negative</th>
            </tr>
            <td>SUBJECT+WILL+NOT+INFINITIVE WITHOUT TO</td>
            <tr>
                <th></th>
            </tr>

        </table>

</body>
</html>